<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SauceDemo E2E Suite" verbose="1">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="End-to-End Checkout Workflow">
        <classes>
            <class name="tests.SauceDemoE2ETest"/>
        </classes>
    </test>
</suite>